<link rel="stylesheet" href="/css/add_animal.css" type="text/css">

<div class="container" id="heading">
  <h1>Add Animal</h1>
</div>
<div class="container">
  <form id="addAnimal">
    <div class="mb-3">
      <label for="Name" class="form-label">Animal Name</label>
      <input type="text" class="form-control" name="Name" id="Name" placeholder="Type animal name">
    </div>

    <div class="mb-3">
    <label for="Species" class="form-label">Animal Species</label>
      <select id="Species" name="Species" class="form-control animal type">
      {{#each species}}
      <option>{{this}}</option>
      {{/each}}
    </select>
    </div>

    <div class="mb-3">
      <label for="animalBreed" class="form-label">Animal Breed</label>
      <select class="form-select animal type" name="Breed" aria-label="Default select example breed" id="{{@../key}}Radio" value="{{this}}" id="{{this}}Radio">
        {{#each breeds}}
        <span id="{{@key}}radioSpan">
          {{#each this}}
              <option class="breed {{@../key}}Radio" type="option" value="{{this}}" id="{{this}}Radio">{{this}}</option>
          {{/each}}
          </span>
        {{/each}}
      </select>
    </div>

    <div class="mb-3">
      <label for="disposition" class="form-label">Disposition</label>
        {{#each dispositions}}
          <div class="form-check">
            <input class="form-check-input dispositionCheck" type="checkbox" name="Disposition" value="{{this}}" id="defaultCheck{{this}}">
            <label class="form-check-label" for="defaultCheck{{this}}">
            {{this}}
            </label>
          </div>
        {{/each}}
    </div>
    
    <div class="mb-3">
      <label for="myFile" type="text" class="form-label">Animal image file: </label>
      <input type="file" class="form-control" id="myFile" name="photo">
    </div>

    <br>
    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Submit Animal</button>
    </div>

    </div>

  </form>
<script src="/js/add_animal.js"></script>