<link rel="stylesheet" href="/css/add_animal.css" type="text/css">

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="animalModalLabel">Success!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h3>Would you like to add another animal?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="addAnother">Yes</button>
        <button type="button" class="btn btn-secondary" id="doneAdding">No</button>
      </div>
    </div>
  </div>
</div>

<div class="container" id="heading">
  <h1>Add Animal</h1>
</div>
<div class="container">
  <form id="addAnimal">
    <div class="mb-3">
      <label for="Name" class="form-label">Animal Name</label>
      <input type="text" class="form-control" name="Name" id="Name" placeholder="Type animal name">
    </div>

    <div class="mb-3">
    <label for="Gender" class="form-label">Animal Gender</label>
      <select id="Gender" name="Gender" class="form-control animal type">
      {{#each gender}}
      <option>{{this}}</option>
      {{/each}}
    </select>
    </div>

    <div class="mb-3">
      <label for="Age" class="form-label">Animal Age</label>
      <input type="text" class="form-control" name="Age" id="Age" placeholder="Type animal age">
    </div>

    <div class="mb-3">
    <label for="speciesSelect" class="form-label">Animal Species</label>
      <select id="speciesSelect" name="Species" class="form-control species">
      {{#each species}}
      <option class="speciesOption">{{this}}</option>
      {{/each}}
    </select>
    </div>

    <div class="mb-3">
      <label for="breedSelect" class="form-label">Animal Breed</label>
      <select class="form-select breed" name="Breed" aria-label="Default select example breed" id="breedSelect">
        {{#each breeds}}
          {{#each this}}
              <option class="breed {{@../key}}Option" type="option" value="{{this}}" id="{{this}}Option">{{this}}</option>
          {{/each}}
        {{/each}}
      </select>
    </div>

    <div class="mb-3">
      <label for="disposition" class="form-label">Disposition</label>
        {{#each dispositions}}
          <div class="form-check">
            <input class="form-check-input dispositionCheck" type="checkbox" name="Disposition" value="{{this}}" id="defaultCheck{{this}}">
            <label class="form-check-label" for="defaultCheck{{this}}">
            {{this}}
            </label>
          </div>
        {{/each}}
    </div>

    <div class="mb-3">
      <label for="file" type="text" class="form-label">Animal image file: </label>
      <input type="file" class="form-control" name='file' id="file" name="photo">
    </div>

    <br>
    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Submit Animal</button>
    </div>
  </form>
</div>

<script src="/js/add_animal.js"></script>