<link rel="stylesheet" href="/css/add_animal.css" type="text/css">

<div class="container" id="heading">
  <h1>Add Animal</h1>
</div>

<div class=container>
<div class="mb-3">
  <label for="animalName" class="form-label">Animal Name</label>
  <input type="text" class="form-control" id="animalName" placeholder="Type animal name">
</div>

<div class="mb-3">
<label for="animalType" class="form-label">Animal Type</label>
  <select class="form-control animal type">
  {{#each species}}
  <option>{{this}}</option>
  {{/each}}
</select>
</div>
<!--
{{!-- <div class="mb-3">
{{!-- <label for="animalBreed" class="form-label">Animal Breed</label>
 <input type="text" class="form-control" id="animalName" placeholder="Type animal breed"> --}}

 <label for="animalBreed" class="form-label">Animal Breed</label>
   {{!-- <select class="form-control animal breed"> --}}
  {{!-- {{#each breeds}}
  <option>{{this}}</option>
  {{/each}} --}}
  <select class="form-control animal type" class="form-check-input breed {{@../key}}Radio" value="{{this}}" id="{{this}}Radio"></select>

              {{#each breeds}}
              <span id="{{@key}}radioSpan">
                {{#each this}}
                  <div class="form-check">
                    <option class="form-check-input breed {{@../key}}Radio" type="option" name="breedRadio" value="{{this}}" id="{{this}}Radio">{{this}}</option>
                    {{!-- <<label class="form-check-label" for="{{this}}Radio">{{this}}</label> --}}
                  </div>
                {{/each}}
              </span>
            {{/each}}
            </select>
  {{!-- </select> --}}
</div> --}}  -->

<div class="mb-3">
 <label for="animalBreed" class="form-label">Animal Breed</label>
 <select class="form-select animal type" aria-label="Default select example breed" id="{{@../key}}Radio" value="{{this}}" id="{{this}}Radio">
 {{#each breeds}}
 <span id="{{@key}}radioSpan">
 {{#each this}}
 <option class="breed" id="{{@../key}}Radio" type="option" name="breedRadio" value="{{this}}" id="{{this}}Radio">{{this}}</option>
 {{/each}}
 </span>
 {{/each}}
 </select>
</div>

<div class="mb-3">
  <label for="disposition" class="form-label">Disposition</label>
    {{#each dispositions}}
      <div class="form-check">
        <input class="form-check-input dispositionCheck" type="checkbox" name="{{this}}" value="" id="defaultCheck{{this}}">
        <label class="form-check-label" for="defaultCheck{{this}}">
        {{this}}
        </label>
      </div>
    {{/each}}
</div>

<div class="mb-3">
<label for="animalBreed" class="form-label">Other Description</label>
 <input type="text" class="form-control" id="description" placeholder="Type other description">
</div>
<br>
<div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary">Submit Animal</button>
</div>

</div>


<script src="/js/add_animal.js"></script>