<link rel="stylesheet" href="/css/animals.css" type="text/css">

<div class="container" id="heading">
  <h1>Find an Animal</h1>
</div>
<div class="container">
  <div class="row">
    <!--Animal search criteria (left left 3/12 of page in full-size browser window)-->
    <div class="col-md-3 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="row category">
          Species Type:<br>
        </div>
        <div class="row">
          <div class="searchSpecies">
            {{#each species}}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="flexRadioDefault1{{this.type}}">
                <label class="form-check-label" for="flexRadioDefault{{this.type}}">{{this.type}}</label>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="row category">
          Breed:<br>
        </div>
        <div class="row">
          <div class="search">
            {{#each species}}
              <span class="{{this.type}}">
              {{#each breeds}}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{this}}">
                  <label class="form-check-label" for="defaultCheck{{this}}">{{this}}</label>
                </div>
              {{/each}}
              </span>
            {{/each}}
          </div>
        </div>
        <div class="row category">
          Disposition:<br>
        </div>
        <div class="row">
          <div class="search">
            {{#each dispositions}}
              {{#each this.Disposition}}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{this}}">
                  <label class="form-check-label" for="defaultCheck{{this}}">
                  {{this}}
                  </label>
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>
        <div class="row searchButton">
          <button  id="filter" class="btn btn-primary">Filter results</a>
        </div>
      </div>
    </div>
    <!--Animal data from database (right 9/12 columns of page in full-size browser window)-->
    <div class="col-md-9 col-sm-12 float-md-none"> 
      <div class="container" id="pets">
        <div class="row" id="searchgrid"> 
        {{>animalsgrid}}
      </div>
    </div>
  </div>
</div> 

<script src="/js/animals.js"></script>