<link rel="stylesheet" href="/css/profile.css" type="text/css">

<div class="container" id="heading">
  <h1>Profile Page</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 float-md-none">
      <form id="photoForm">
        <div class="card">
          {{#if user.photo}}
            <img src="{{bucketName}}/{{user.photo}}" id="userPhoto" class="card-img-top" alt="user photo">
          {{else}}
            <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" id="stockPhoto" class="card-img-top" alt="user photo">
          {{/if}}
          <div class="card-body">
            <input type="file" class="form-control" name='file' id="photoUpload" name="photo">
            <button type="submit" class="btn btn-primary submitPatch" id="submitPhoto" data-id="{{user.id}}">Submit Photo</button>
            <a href="#" class="btn btn-primary" id="changePicButton">Change Picture</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <form id="editProfileForm">
          <div class="card-header">
            <div class="row" style="height: 39px">
              <div class="col-sm-11"  >
              </div>
              <div class="col-sm-1">
                <a class="btn" href="#" id="editProfile">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-0 row">
              <div class="col-sm-3">
                <label for="userNameInput" class="col-form-label">Full Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" name="name" id="userNameInput" value="{{user.name}}">
              </div>
            </div>
            <hr>
            <div class="mb-0 row">
              <div class="col-sm-3">
                <label for="userEmailInput" class="col-form-label">Email</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" name="email" id="userEmailInput" value="{{user.email}}">
              </div>
            </div>
            <hr>
            <div class="mb-0 row">
              <div class="col-sm-3">
                <label for="userPhoneInput" class="col-form-label">Phone</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" name="phone" id="userPhoneInput" value="{{user.phone}}">
              </div>
            </div>
            <hr>
            <div class="mb-0 row">
              <div class="col-sm-3">
                <label for="userAddressInput" class="col-form-label">Address</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" name="address" id="userAddressInput" value="{{user.address}}">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary submitPatch" id="submitPatch" data-id="{{user.id}}"> Submit Changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Pending Applications
        </div>
        <div class="card-body">
          <div class="col-sm-12 text-secondary">
            <div class="row" id="userApps"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<script src="/js/profile.js"></script>