<link rel="stylesheet" href="/css/animals.css" type="text/css">

<div class="modal fade" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animalModalLabel">Animal Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="">
          <img src="/images/A_Basenji_puppy.jpg" id="photo" alt="Animal Photo" class="animalModalPhoto">
          <ul id="animalDetailsList">
              <li >Gender: <span id="gender"></span> </li>
              <li >Age: <span id="age"></span></li>
              <li >Species: <span id="species"></span></li>
              <li >Breed: <span id="breed"></span></li>
              <li >Animal status: <span id="availability"></span></li>
              <li>Date created: <span id="dateCreated"></span> </li>
              <li>Disposition:</li>
                <ul id="disposition"></ul>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <div id="modalButtons" >
          {{#if (isAdmin user.email)}}
              <!-- if pending application -->
              <form style="display:inline;">
              <input type="submit" class="btn btn-primary" id="viewApps" value="Review Application">
              </form>
            <button type="button" class="btn btn-secondary" id="deleteAnimal">Delete Animal</button>
          {{else}}
            {{#if user}}
          <button type="button" class="btn btn-primary" id="adoptAnimal" data-userID="{{user.id}}">Adopt this animal</button>
            {{else}}
              <button type="button" class="btn btn-primary" id="login">Log in to adopt this animal</button>
            {{/if}}
          {{/if}}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        <div id="deleteAlert" style="display:none; margin-left:auto; margin-right: auto">
          <div class="alert alert-danger " role="alert">Delete this animal?
            <button type="button" class="btn btn-secondary" id="confirmDelete">Yes</button>
            <button type="button" class="btn btn-secondary" id="cancelDelete">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if animals.length}}
    {{#each animals}}
    <!--Table nested in the right 9/12 of the page. Each animal card is 4/12 columns of this nested section-->
    <div class="col-md-4">
      <div class="cardOutline">
        <div class="card h-100" style="">
          <img src="{{../Bucket}}/{{this.Photo}}" class="card-img-top thumbnail" alt="">
          <div class="card-body">
            <div class="animalCriteria">
              <h5 class="card-title">{{this.Name}}</h5>
              <div class="card-text">{{this.Species}} | {{this.Breed}}</div>
              <div class="card-text">{{this.Gender}} | {{this.Age}}</div>
            </div>
              <!-- Data for Modal Screen display -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#animalModal" 
              data-name="{{this.Name}}" data-species="{{this.Species}}" data-gender="{{this.Gender}}"
              data-breed="{{this.Breed}}" data-age="{{this.Age}}" data-disposition="{{this.Disposition}}"
              data-availability="{{this.Availability}}" data-name="{{this.Name}}" 
              data-dateCreated="{{this.DateCreated}}" data-photo="{{this.Photo}}" data-bucket="{{../Bucket}}"
              data-id="{{this.id}}">Details</button>
          </div>  
        </div>
      </div>
    </div>
    {{/each}}
    <div class="container" id="pageButton">
      <div class="row">
        <div class="col-md-6">
          <div class="buttonBorder" id="prevButton">
            {{#if prev}}
              <button data-cursor="{{prev}}" id="prev" class="btn btn-primary">Previous</button>
            {{/if}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="buttonBorder">
            {{#if next}}
              <button data-cursor="{{next}}" id="next" class="btn btn-primary">Next</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
{{else}}
    <div id="noAnimals">
        <h3>There are no animals</h3>
    </div>
{{/if}}
            

